<div class="app-container">
  <!-- Menu lateral esquerdo-->
  <app-sidebar></app-sidebar>
  
  <!-- Adicionar tarefa -->
  <main class="main-content">
    <div class="content-header">
      <h1>Lista de tarefas</h1>
      <button class="add-task-btn" (click)="openModal()" tabindex="0">  
        <i class="material-icons">add</i>
        Adicionar Tarefa
      </button>
    </div>
    
    <!-- Quadro Kanban -->
    <kanban-board></kanban-board>
  </main>
  
  <!-- Modal para Adicionar Tarefa -->
  <app-task-form 
    *ngIf="isModalOpen"
    (submitTask)="addTask($event)"
    (close)="closeModal()">
  </app-task-form>
</div>